html,
body {
  margin: 0px;
}

#mediaQueryViewer {
  position: fixed;
  bottom: 0;
  right: 0;
}

#mediaQueryViewer::after {
  padding: 5px;
}

#resetBtn {
  width: 15rem;
  margin: auto;
}

.playerBox {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  cursor: pointer;
  background-color: #9191e9;
  border-radius: 11em;
  height: 13rem;
  width: 12rem;
  justify-content: space-evenly;
}

.playerInput {
  font-size: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
}

.error-message {
  color: red;
  margin-top: 2rem;
}

.playerLabel {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.cancelButton {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}

.submitButton {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #2d5d7b;
  color: white;
  cursor: pointer;
}

#vsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 30px;
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.cellWrapper {
  padding: 8px;
}

#siteWrapper:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.playerLeyend {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1em;
  padding: 10px;
}

.playerName {
  text-transform: capitalize;
}

.playerSymbol {
  text-transform: uppercase;
  margin-top: 7px;
  font-weight: bolder;
}

#playeDisplay {
  text-align: center;
  margin-bottom: 1rem;
}

.cell {
  cursor: pointer;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 4rem;
}

.bottom {
  border-bottom: 4px solid black;
}

.top {
  border-top: 4px solid black;
}

.left {
  border-left: 4px solid black;
}

.right {
  border-right: 4px solid black;
}

@media only screen and (min-width: 768px) {

  /* tablets and desktop */
  #mediaQueryViewer::after {
    background-color: blue;
    content: 'desktop';
  }

}

@media only screen and (max-width: 767px) {

  /* phones */
  #mediaQueryViewer::after {
    background-color: yellow;
    content: 'phone';
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {

  /* portrait phones */
  #mediaQueryViewer::after {
    background-color: green;
    content: 'portrait phones';
  }
}

/*                      ANIMATIONS                    */

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
    transform: scale3d(.9, .9, .9) rotate(-3deg)
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
    transform: scale3d(.9, .9, .9) rotate(-3deg)
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

.winner {
  color: #9191e9;
  animation: tada 2s linear infinite;
}