html,
body {
  margin: 0px;
}

#mediaQueryViewer {
  position: fixed;
  bottom: 0;
  right: 0;
}

#mediaQueryViewer::after {
  padding: 5px;
}

.playerBox {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.cellWrapper {
  padding: 8px;
}

#siteWrapper:nth-child(1) {
  margin: auto;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#playeDisplay {
  text-align: center;
  margin-bottom: 1rem;
}

.cell {
  cursor: pointer;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 4rem;
}

.bottom {
  border-bottom: 4px solid black;
}

.top {
  border-top: 4px solid black;
}

.left {
  border-left: 4px solid black;
}

.right {
  border-right: 4px solid black;
}

@media only screen and (min-width: 768px) {

  /* tablets and desktop */
  #mediaQueryViewer::after {
    background-color: blue;
    content: 'desktop';
  }

}

@media only screen and (max-width: 767px) {

  /* phones */
  #mediaQueryViewer::after {
    background-color: yellow;
    content: 'phone';
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {

  /* portrait phones */
  #mediaQueryViewer::after {
    background-color: green;
    content: 'portrait phones';
  }
}